.btn{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.btn-primary{
    background:#2563eb;
    color:white;
}

.btn-danger{
    background:#dc2626;
    color:white;
}